WebContent/wsdl/TaskServiceImpl.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://service.taskmanagerapp.example.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://service.taskmanagerapp.example.com" xmlns:intf="http://service.taskmanagerapp.example.com" xmlns:tns1="http://beans.taskmanagerapp.example.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://service.taskmanagerapp.example.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://beans.taskmanagerapp.example.com"/>
   <element name="getTask">
    <complexType>
     <sequence>
      <element name="id" type="xsd:long"/>
     </sequence>
    </complexType>
   </element>
   <element name="getTaskResponse">
    <complexType>
     <sequence>
      <element name="getTaskReturn" type="tns1:Task"/>
     </sequence>
    </complexType>
   </element>
   <element name="getAllTasks">
    <complexType/>
   </element>
   <element name="getAllTasksResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="getAllTasksReturn" type="tns1:Task"/>
     </sequence>
    </complexType>
   </element>
   <element name="deleteTask">
    <complexType>
     <sequence>
      <element name="id" type="xsd:long"/>
     </sequence>
    </complexType>
   </element>
   <element name="deleteTaskResponse">
    <complexType>
     <sequence>
      <element name="deleteTaskReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
   <element name="addTask">
    <complexType>
     <sequence>
      <element name="t" type="tns1:Task"/>
     </sequence>
    </complexType>
   </element>
   <element name="addTaskResponse">
    <complexType>
     <sequence>
      <element name="addTaskReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
   <element name="updateTask">
    <complexType>
     <sequence>
      <element name="t" type="tns1:Task"/>
      <element name="id" type="xsd:long"/>
     </sequence>
    </complexType>
   </element>
   <element name="updateTaskResponse">
    <complexType>
     <sequence>
      <element name="updateTaskReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
   <element name="changeTaskStatus">
    <complexType>
     <sequence>
      <element name="id" type="xsd:long"/>
      <element name="status" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
   <element name="changeTaskStatusResponse">
    <complexType>
     <sequence>
      <element name="changeTaskStatusReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
   <element name="getAllTasksByStatus">
    <complexType>
     <sequence>
      <element name="status" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
   <element name="getAllTasksByStatusResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="getAllTasksByStatusReturn" type="tns1:Task"/>
     </sequence>
    </complexType>
   </element>
   <element name="getPercentageOfOpenTasks">
    <complexType/>
   </element>
   <element name="getPercentageOfOpenTasksResponse">
    <complexType>
     <sequence>
      <element name="getPercentageOfOpenTasksReturn" type="xsd:float"/>
     </sequence>
    </complexType>
   </element>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://beans.taskmanagerapp.example.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <complexType name="Task">
    <sequence>
     <element name="creationDate" nillable="true" type="xsd:dateTime"/>
     <element name="description" nillable="true" type="xsd:string"/>
     <element name="id" type="xsd:long"/>
     <element name="status" type="xsd:boolean"/>
     <element name="title" nillable="true" type="xsd:string"/>
     <element name="todoDate" nillable="true" type="xsd:dateTime"/>
     <element name="updateDate" nillable="true" type="xsd:dateTime"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="updateTaskRequest">

      <wsdl:part element="impl:updateTask" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="changeTaskStatusRequest">

      <wsdl:part element="impl:changeTaskStatus" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getAllTasksResponse">

      <wsdl:part element="impl:getAllTasksResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="changeTaskStatusResponse">

      <wsdl:part element="impl:changeTaskStatusResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="updateTaskResponse">

      <wsdl:part element="impl:updateTaskResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getTaskRequest">

      <wsdl:part element="impl:getTask" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getPercentageOfOpenTasksRequest">

      <wsdl:part element="impl:getPercentageOfOpenTasks" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getAllTasksRequest">

      <wsdl:part element="impl:getAllTasks" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="deleteTaskResponse">

      <wsdl:part element="impl:deleteTaskResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getAllTasksByStatusRequest">

      <wsdl:part element="impl:getAllTasksByStatus" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getTaskResponse">

      <wsdl:part element="impl:getTaskResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="deleteTaskRequest">

      <wsdl:part element="impl:deleteTask" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getPercentageOfOpenTasksResponse">

      <wsdl:part element="impl:getPercentageOfOpenTasksResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="addTaskRequest">

      <wsdl:part element="impl:addTask" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="addTaskResponse">

      <wsdl:part element="impl:addTaskResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getAllTasksByStatusResponse">

      <wsdl:part element="impl:getAllTasksByStatusResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="TaskServiceImpl">

      <wsdl:operation name="getTask">

         <wsdl:input message="impl:getTaskRequest" name="getTaskRequest">

       </wsdl:input>

         <wsdl:output message="impl:getTaskResponse" name="getTaskResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getAllTasks">

         <wsdl:input message="impl:getAllTasksRequest" name="getAllTasksRequest">

       </wsdl:input>

         <wsdl:output message="impl:getAllTasksResponse" name="getAllTasksResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="deleteTask">

         <wsdl:input message="impl:deleteTaskRequest" name="deleteTaskRequest">

       </wsdl:input>

         <wsdl:output message="impl:deleteTaskResponse" name="deleteTaskResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="addTask">

         <wsdl:input message="impl:addTaskRequest" name="addTaskRequest">

       </wsdl:input>

         <wsdl:output message="impl:addTaskResponse" name="addTaskResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="updateTask">

         <wsdl:input message="impl:updateTaskRequest" name="updateTaskRequest">

       </wsdl:input>

         <wsdl:output message="impl:updateTaskResponse" name="updateTaskResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="changeTaskStatus">

         <wsdl:input message="impl:changeTaskStatusRequest" name="changeTaskStatusRequest">

       </wsdl:input>

         <wsdl:output message="impl:changeTaskStatusResponse" name="changeTaskStatusResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getAllTasksByStatus">

         <wsdl:input message="impl:getAllTasksByStatusRequest" name="getAllTasksByStatusRequest">

       </wsdl:input>

         <wsdl:output message="impl:getAllTasksByStatusResponse" name="getAllTasksByStatusResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getPercentageOfOpenTasks">

         <wsdl:input message="impl:getPercentageOfOpenTasksRequest" name="getPercentageOfOpenTasksRequest">

       </wsdl:input>

         <wsdl:output message="impl:getPercentageOfOpenTasksResponse" name="getPercentageOfOpenTasksResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="TaskServiceImplSoapBinding" type="impl:TaskServiceImpl">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getTask">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getTaskRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getTaskResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getAllTasks">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getAllTasksRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getAllTasksResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="deleteTask">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="deleteTaskRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="deleteTaskResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="addTask">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="addTaskRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="addTaskResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="updateTask">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="updateTaskRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="updateTaskResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="changeTaskStatus">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="changeTaskStatusRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="changeTaskStatusResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getAllTasksByStatus">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getAllTasksByStatusRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getAllTasksByStatusResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getPercentageOfOpenTasks">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getPercentageOfOpenTasksRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getPercentageOfOpenTasksResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="TaskServiceImplService">

      <wsdl:port binding="impl:TaskServiceImplSoapBinding" name="TaskServiceImpl">

         <wsdlsoap:address location="http://localhost:8080/TaskManagerWS/services/TaskServiceImpl"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
